*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outerContainer{
    width: 47.5vw;
    height: 47.5vw;
    border: 2px solid black;
    margin: auto;
    position: relative;
    background-color: antiquewhite;
}
.outerContainer .upperRow{
    width: 100%;
    height: 7.5%;
    background-color: antiquewhite;
    display: flex;
}
.outerContainer .upperRow .row1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}
.outerContainer .upperRow .row1 .diceBox{
    width: 18%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.outerContainer .upperRow .row2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}
.outerContainer .upperRow .row2 .diceBox{
    width: 18%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.outerContainer .lowerRow{
    width: 100%;
    height: 7.5%;
    background-color: antiquewhite;
    display: flex;
}
.outerContainer .lowerRow .row1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}
.outerContainer .lowerRow .row1 .diceBox{
    position: relative;
    width: 18%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.outerContainer .lowerRow .row2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}
.outerContainer .lowerRow .row2 .diceBox{
    width: 18%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;

}

.gameContainer{
    width: 40vw;
    height: 40vw;
    border: 2px solid black;
    margin: auto;
    position: relative;
}
.gameContainer .box1{
    width: 100%;
    height: 40%;
    /* border-bottom: 2px solid black; */
    display: flex;
}
.gameContainer .box2{
    width: 100%;
    height: 20%;
    background-color: rgb(186, 183, 183);
    display: flex;
}
.gameContainer .box3{
    width: 100%;
    height: 40%;
    display: flex;
}
.gameContainer .box1 .red{
    background-color: red;
    height: 100%;
    width: 40%;
}
.gameContainer .box1 .red .innerRed{
    height: 70%;
    width: 70%;
    background-color:white;
    margin: auto;
    margin-top: 15%;
    border-radius: 10%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.gameContainer .box1 .red .innerRed .innerRedball{
    width: 41%;
    height: 41%;
    border-radius: 50%;
    background-color: rgb(230, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.gameContainer .box1 .red .innerRed .redGoti{
    z-index: 1000;
    position: relative;
    width: 50%;
    height: 50%;
    border: 0.1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(125, 4, 4);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
}

.gameContainer .box1 .middle1{
    display: grid;
    grid-template-columns: repeat(3,33.38%);
    grid-template-rows: repeat(6,16.68%);
    background-color: rgb(186, 183, 183);
    height: 100%;
    width: 20%;
}

.gameContainer .box1 .middle1 .boxMiddle1{
    font-size: 4vmin;
    background-color: rgb(255, 255, 255);
    border: 0.01px solid black;
}

.gameContainer .box1 .middle1 .greenArea{
    background-color:rgb(0, 255, 51);
    position: relative;
}

.gameContainer .box1 .green{
    background-color: rgb(0, 255, 51);
    height: 100%;
    width: 40%;
    float: right;
}
.gameContainer .box1 .green .innerGreen{
    height: 70%;
    width: 70%;
    background-color:white;
    margin: auto;
    margin-top: 15%;
    border-radius: 10%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gameContainer .box1 .green .innerGreen .greenGoti{
    position: absolute;
    width: 50%;
    height: 50%;
    border: 0.1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(10, 102, 39);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
}
.greenGoti{
    position: absolute;
    width: 50%;
    height: 50%;
    border: 0.1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(10, 102, 39);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
}
.boxMid1,.boxMid2,.boxMiddle1,.boxMiddle2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redGoti.red1,.redGoti.red2,.redGoti.red3,.redGoti.red4{
    border: 0.1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(169, 9, 9);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 1000;
}
[class*="greenPath"] {
    position: relative;
}
[class*="redPath"] {
    position: relative;
}
/* .path .redGoti.red1,.redGoti.red2,.redGoti.red3,.redGoti.red4{
     border: 0.1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(169, 9, 9);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 1000;

} */
.gameContainer .box1 .green .innerGreen .innerGreenball{
    width: 41%;
    height: 41%;
    border-radius: 50%;
    background-color: rgb(0, 255, 51);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer .box2 .mid1{
    display: grid;
    grid-template-columns: repeat(6,16.68%);
    grid-template-rows: repeat(3,33.38%);
    font-family: 'Roboto','sans-serif';
    width:40%;
    height: 100%;
}

.gameContainer .box2 .mid1 .boxMid1{
    background-color: rgb(255, 255, 255);
    border: 0.001px solid black;
}

.gameContainer .box2 .mid1 .redArea{
    background-color: red;
}

.gameContainer .box2 .center{
    width:20%;
    height: 100%;
    position: relative;
}
.gameContainer .box2 .center .tri1{
   position: absolute;
   width:50%;
   height:100%;
}

.gameContainer .box2 .center .red{
  top: 0;
    left: 0;
    background-color: red;
    clip-path: polygon(0% 1%, 100% 50%, 0% 100%);
} 
.gameContainer .box2 .center .tri2{
   position: absolute;
   width:100%;
   height:50%;
}
.gameContainer .box2 .center .Green{
    top: 0;
    right: 0%;
    background-color: rgb(0, 255, 51);
    clip-path: polygon(0% 2%, 100% 0%, 50% 100%);
}
.gameContainer .box2 .center .tri4{
   position: absolute;
   width:50%;
   height:100%;
}
.gameContainer .box2 .center .Yellow{
    bottom: 0;
    right: 0%;
    background-color: rgb(221, 255, 0);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
.gameContainer .box2 .center .tri3{
   position: absolute;
   width:100%;
   height:50%;
}
.gameContainer .box2 .center .Blue{
    transform: rotate(180deg);
    bottom: 0;
    right: 0%;
    background-color: rgb(0, 200, 255);
    clip-path: polygon(0% 2%, 100% 0%, 50% 100%);
}
.gameContainer .box2 .mid2{
    display: grid;
    grid-template-columns: repeat(6,16.68%);
    grid-template-rows: repeat(3,33.38%);
    width:40%;
    height: 100%;
}

.gameContainer .box2 .mid2 .boxMid2{
    background-color: rgb(255, 255, 255);
    border: 0.001px solid black;
}
.gameContainer .box2 .mid2 .yellowArea{
    background-color: rgb(221, 255, 0);
    position: relative;
} 

.gameContainer .box3 .blue{
    background-color: rgb(0, 195, 255);
    height: 100%;
    width: 40%;
}

.gameContainer .box3 .blue .innerBlue{
    height: 70%;
    width: 70%;
    background-color:white;
    margin: auto;
    margin-top: 15%;
    border-radius: 10%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.gameContainer .box3 .blue .innerBlue .blueGoti{
    width: 50%;
    height: 50%;
    border: 0.1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(18, 78, 137);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
}
.gameContainer .box3 .blue .innerBlue .innerBlueball{
    width: 41%;
    height: 41%;
    border-radius: 50%;
    background-color: rgb(0, 195, 255);  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gameContainer .box3 .middle2{
    display: grid;
    grid-template-columns: repeat(3,33.38%);
    grid-template-rows: repeat(6,16.68%);
    background-color: rgb(186, 183, 183);
    height: 100%;
    width: 20%;
}
.gameContainer .box3 .middle2 .boxMiddle2{
    background-color: rgb(255, 255, 255);
    border: 0.001px solid black;
}
.gameContainer .box3 .middle2 .blueArea{
    background-color:rgb(0, 195, 255);
    position: relative;
}
.gameContainer .box3 .yellow{
    background-color: rgb(225, 255, 0);
    height: 100%;
    width: 40%;
}
.gameContainer .box3 .yellow .innerYellow{
    height: 70%;
    width: 70%;
    background-color:white;
    margin: auto;
    margin-top: 15%;
    border-radius: 10%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.gameContainer .box3 .yellow .innerYellow .yellowGoti{
    width: 50%;
    height: 50%;
    border: 0.1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(141, 169, 27);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
}
.gameContainer .box3 .yellow .innerYellow .innerYellowball{
    width: 41%;
    height: 41%;
    border-radius: 50%;
    background-color: rgb(225, 255, 0);
      position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redStar{
    position: relative;
    /* z-index: -1; */
}
.redArea{
    position: relative;
}                       
.starArea{
    position: relative;
}
.star{
    position: absolute;
  width:90%;
  aspect-ratio: 1;
  background: rgb(0, 0, 0);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.row1Dice{
    margin: auto;
    width:90%;
    height:99%;
    background: #e2e2e2;
    border-radius: 10%;
}
.rolldice0{
    display:flex;
    justify-content: center;
    align-items: center;

}
.rolldice0 .roll1{
    background-color: black;
    border-radius: 50%;
    width: 28%;
    height: 28%;
}
.rolldice1{
    display: none;
    justify-content: center;
    align-items: center;

}
.rolldice1 .roll1{
    background-color: black;
    border-radius: 50%;
    width: 28%;
    height: 28%;
}
.rolldice2{
    display:none;
    justify-content: space-evenly;
    align-items: center;
}
.rolldice2 .roll2{
    background-color: black;
    border-radius: 50%;
    width: 28%;
    height: 28%;
}
.rolldice3{
    display:none;
    justify-content: space-around;
    align-items: center;
}
.rolldice3 .roll3{
    background-color: black;
    border-radius: 50%;
    width: 28%;
    height: 28%;
}
.rolldice4{
    display:none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.rolldice4 .roll4{
    background-color: black;
    border-radius: 50%;
    width: 35%;
    height: 35%;
}
.rolldice5{
    position: relative;
    display:none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.rolldice5 .roll5{
    background-color: black;
    border-radius: 50%;
    width: 35%;
    height: 35%;
}
.rolldice5  .absolute{
    position: absolute;
    top: 30%;
    left: 33%;
}
.rolldice6{
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.rolldice6 .roll6{
    background-color: black;
    border-radius: 50%;
    width: 28%;
    height: 28%;
}
@keyframes moveBox {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}


@media(max-width:750px){
    .outerContainer{
        margin-top:50vw;
        width: 100vw;
        height: 100vw;
    }
    .gameContainer{
        height: 86.56%;
        width: 86.56%;
    }
}